<header>

    <nav class="navbar colored-background">
		<div class="container-fluid center">
		  <span class="navbar-brand mb-0 h1"><strong> Result Management System </strong>
		
		
			<% if(loggedin=='true'){ %>

				<a href="/teacher/logout">
					<button type="button" class="btn btn-danger">Logout</button>
					</a>
			
				<% }%>

		
		
		
		</span>
		  
		</div>
		

		

	  </nav>

	
	  <a href="javascript:history.back()" style="margin: 1%;">Back</a>
    </header>